
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample</title>
</head>
<body>
    <div> 
        @*<form id="data" method="post" enctype="multipart/form-data">
            <input name="image" type="file" />
            <button id="upload">submit</button>
        </form>*@

        @*@using (Html.BeginForm("Index",
                            "Home",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
        {
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" /><br><br>
            <input type="submit" id="upload" value="Upload Image" />
            <br><br>
            @ViewBag.Message
        }*@
@using (Ajax.BeginForm("Index", "Home", new AjaxOptions { HttpMethod = "POST",UpdateTargetId=null }, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" id="upload" value="Upload Image" />

            <br><br>
}

        <form name="addProductForm" id="addProductForm" action="javascript:;" enctype="multipart/form-data" method="post" accept-charset="utf-8">
            <input type="file" name="file" id="file" /><br><br>
            <input type="submit" id="upload" value="Upload Image" />
            </form>
</div>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/underscore-min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.0.js"></script>
    <script src="~/signalr/hubs"></script>
    
    <script src="~/Scripts/upload.js"></script>>


</body>
</html>
